@import '../../styles/break-points.scss';

.Container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;

  transition: all 0.3s ease-in-out;

  padding: 0 10rem;
  .containerAlign {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .containerTitle {
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.52px;
      text-align: left;
      color: #464646;
      padding: 7px 19px;
    }

    .containerContent {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 0 auto;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@include sphone {
  .Container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    .containerAlign {
      padding: 0;
      margin: 0;
      margin-top: 30px;
      .containerTitle {
        display: flex;
        align-self: flex-start;
      }

      .containerContent {
        justify-content: center;
      }
    }
  }
}

@include tablet {
}

@include laptop {
}

@include desktop {
}

@include desktop-large {
}
