@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.HeaderPrincipal {
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;

  .headerX {
    margin-left: -70px;
    font-weight: 400;
  }

  .Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 57px;


    .headerLogo {
      margin-right: 15px;
      margin-left: 2.242rem;
    }

    .headerParagraph {
      color: #455A64;
      margin-right: 15px;
      font-family: 'Inter';

    }

    .headerSearch {
      margin-right: 15px;

    }
  }
}