@import '../../styles/break-points.scss';

.Tasks {
  padding-bottom: 50px;

  .main {
    display: grid;
    gap: 1rem;
    width: 100%;
    min-width: 481px;
    box-sizing: border-box;

    .text {
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
    }
  }

  @include sphone {
    
  }

  @include tablet {
    
  }

  @include laptop {
  }

  @include desktop {
    .main {
      display: grid;
      padding: 0 10rem;
    }
  }

  @include desktop-large {
  }
}
