@import '../../styles/break-points.scss';

.Tasks {
  display: grid;
  padding-bottom: 50px;
  

  .main {
    display: grid;
    gap: 1rem;
    max-width: 100%;
    box-sizing: border-box;

    .text {
      word-wrap: break-word; 
      word-break: break-all; 
      white-space: normal; 
    }
  }


  @include tablet {
    
  }

  @include laptop {
   
  }

  @include desktop {
    .main {
      display: grid;
      padding: 0 10rem;

    }
  }

  @include desktop-large {}
}